body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  text-align: center;
}

.container h1 {
  color: #3498db;
}

.container .input-container {
  margin-bottom: 20px;
  text-align: left;
}

.container .input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.container .input-container input {
  width: calc(100% - 10px);
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.container button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color: #217dbb;
}

.container .resultado {
  margin-top: 20px;
}

.container .resultado h2 {
  color: #2ecc71;
}

.container .resultado ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .resultado ul li {
  background-color: #f0f0f0;
  margin: 5px;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.container .debug {
  margin-top: 20px;
  text-align: left;
}

.container .debug h2 {
  color: #e74c3c;
  /* Cor vermelha para debug */
}

.container .debug p {
  font-size: small;
  white-space: pre-line;
}
